html{background-color: #D9C5FF;}

/* .header{
	padding: 40px;
	text-align: center;
	background: #D9C5FF;
	color: white;
	font-family: "Lucida Console", "Courier New", Monospace;
}

.header h1{
	font-size: 40px;
} */

.header{
	padding: 40px;
	text-align: center;
	background: #D9C5FF;
	color: white;
}

.header h1{
	font-size: 40px;
}

.navbar{
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.4); /* Transparent white color */
	display: flex; /* Use flexbox */
	justify-content: center; /* Center the items horizontally */
	font-weight: 10px;
	padding: 5px 0; /* Add padding to the top and bottom */
	font-family: "Lucida Console", "Courier New", Monospace;

}

.navbar a{
	float:left;
	display: block;
	color: black;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}
.navbar a:hover{
	padding: 15px;
	background-color: #d4bff5;
	color: white;
}

.body{
	padding: 20px;
	text-align: left;
	background-color: #D9C5FF;
}

.body p{
	display: block;
	font-family: "Inter", "Courier New", Monospace;
	text-shadow: 1px 1px 4px #FFFFFF;
}

#rectangle {
	background-color: rgba(178, 142, 246, 0.4);
	padding: 40px;
	border-radius: 25px;
}


