html{background-color: #D9C5FF;}

.SimHeader {
  font-size:25px;
  text-align: center;
  border-color: black;
  border-bottom-style: solid;
  border-width: 1px;
  font-family: 'Open Sans', Arial, sans-serif;;
}

.defs {
  border-style: dashed;
  border-color: black;
  border-width: 1px;
  font-family: 'Open Sans', Arial, sans-serif;;
  padding: 10px 20px;
}

.PageName{
	display: block;
	position: center;
	text-align: center;
	margin-top: 50px;
	font-family: "Courier New", Verdana, sans-serif;
	color: rgb(124, 64, 150);
}

p {
	/*This is a hack, please find a solution...*/
	font-family: 'Open Sans', Arial, sans-serif;
}

a {
	font-family: 'Open Sans', Arial, sans-serif;
}

#shelf {
	padding: 5px;
	margin: 10px;
	border: 2px solid black;
	font-family: 'Open Sans', Arial, sans-serif;
	background-color: #f8c2ff;
}

.shelf_item {
	border: 1px solid black;
	background-color:#ffffff;
	margin:3px;
	/*width:100px;*/
	text-align: center;
	padding:5px;
	display:inline-block;
	position:relative;
	z-index: 1;
}


#knapsack {
	border: 2px solid black;
	width: 100%;
	height:190px;
	margin-left: 10px;
	position: relative;
	z-index: 0;
	display: inline-block;
	margin-top: 5px;
	background-color: #f8c2ff;
;
	
}

#stats_DOM {
	margin: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
	/*position: absolute;*/
	/*left: 10px;*/
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 17px;
	font-weight: 500;
}

#explanation {
/*	position: absolute;*/
	right: 10px;
	font-family: 'Open Sans', Arial, sans-serif;
	margin: 10px;
	background-color: #C2CBFF;
	border: 1px solid black;
	border-radius: 15px;
	padding: 8px;
}

#UIWrapper {
	margin-top:10px;
	text-align: center;
	width:100%;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 15px;
	padding: 10px;
	font-weight: 600;
	position: relative;
	
}

#UIWrapper button{
	padding: 7px;
	border-radius: 25px;
	background-color: white;
	margin-right: 10px;
}

#UIWrapper input{
	padding: 7px;
	border-radius: 25px;
	background-color: white;
	margin: 10px;
}

#backgroundWrapper p {
	/*margin:auto;*/
	/*margin-top:0px;*/
	/*text-align: center;*/
	/*background-size:cover;*/
	/*width:975px;
	height:650px;*/
	/*object-fit: center;*/
	/*background-repeat: no-repeat;*/
	width: 100%;
	margin-left: 11px;
	font-weight: 500;

}

#Explanation {
	display: none;
	margin: 15px;
	text-align: left;
	background-color: #C2CBFF;
	border: 1px solid black;
	border-radius: 15px;
	padding: 20px;
	
}

#ExplanationWrapper {
	margin: 50px;
}

button{
	font-family: 'Open Sans', Arial, sans-serif;
}

.explanationButtons {
	margin: auto;
	text-align: center;
	display:block;
	font-family: 'Open Sans', Arial, sans-serif;
	padding: 7px;
	border-radius: 25px;
	background-color: white;
}



#Instruction{
	display: none;
	margin: 15px;
	text-align:left;
	background-color: #C2CBFF;
	border: 1px solid black;
	border-radius: 15px;
	padding: 20px;
}
#InstructionWrapper{
	margin: 50px;
	padding-top: 15px;
}
.instructionButtons{
	margin: auto;
	text-align: center;
	display:block;
	font-family: 'Open Sans', Arial, sans-serif;
	padding: 7px;
	border-radius: 25px;
	background-color: white;
}

#memoize_table{
	display: inline-block;
	/*position: f;*/
	right: 20px;
	font-family:'Open Sans', Arial, sans-serif;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	width:100%;
	/*margin-left: 500px; /* this is hack. Find better ways to have div items not write over each other */

}

.memoize_row {
	border: 1px solid black;
	background-color: #ffffff;
}

.memoize_cell {
	border: 1px solid black;
	padding: 5px;
}

.weight_cell {
	border: 1px solid black;
	padding: 5px;
}

.item_cell {
	border: 1px solid black;
	padding: 5px;
	text-align: right;
	
}

#shopType{
	padding: 15px;
	margin: 5px;
}

#shopType button{
	padding: 6px;
	margin: 2px;
	border-radius: 15px;
	background-color: white;
	font-family: 'Open Sans', Arial, sans-serif;;
}
#shopType button:hover {
    background-color: #f3ed56;
}


.button :active{
	color: rgb(112, 77, 158);
}